@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  @font-face {
    font-family: 'Gemunu Libre';
    src: url(../css/fonts/GemunuLibre/GemunuLibre-Bold.ttf);
    src: url(../css/fonts/GemunuLibre/GemunuLibre-ExtraBold.ttf);
    src: url(../css/fonts/GemunuLibre/GemunuLibre-ExtraLight.ttf);
    src: url(../css/fonts/GemunuLibre/GemunuLibre-Light.ttf);
    src: url(../css/fonts/GemunuLibre/GemunuLibre-Medium.ttf);
    src: url(../css/fonts/GemunuLibre/GemunuLibre-Regular.ttf);
    src: url(../css/fonts/GemunuLibre/GemunuLibre-SemiBold.ttf);
  }
  @font-face {
    font-family: 'Open Sans';
    src: url(../css/fonts/OpenSans/OpenSans-Bold.ttf);
    src: url(../css/fonts/OpenSans/OpenSans-ExtraBold.ttf);
    src: url(../css/fonts/OpenSans/OpenSans-Light.ttf);
    src: url(../css/fonts/OpenSans/OpenSans-Medium.ttf);
    src: url(../css/fonts/OpenSans/OpenSans-Regular.ttf);
    src: url(../css/fonts/OpenSans/OpenSans-SemiBold.ttf);
  }

  html{
    @apply font-open font-medium;
  }

  *{
    @apply box-border;
  }

  *::-webkit-scrollbar {
    @apply w-1 h-1;
  }
  
  *::-webkit-scrollbar-track {
    @apply dark:bg-customSecondary-900 bg-gray-300;
    @apply rounded-none;
  }
  
  *::-webkit-scrollbar-thumb {
    @apply dark:bg-yellow-400 bg-violet-700;
    @apply rounded-full;
  }

  h1, h2, h3, h4, h5, h6{
    @apply font-gemunu uppercase tracking-widest;
  }

  .tabActiveBtn button{
    @apply dark:!bg-yellow-400 dark:!text-customPrimary-900;
    @apply !bg-purple-600 !text-gray-200;
  }
}

header ul li a.active svg,
footer ul li a.active svg{
  @apply dark:bg-yellow-400 bg-violet-700;
  @apply dark:text-black text-white;
  @apply shadow-customMd dark:shadow-yellow-400 shadow-violet-700;
}

.swiper-pagination{
  @apply flex overflow-x-auto justify-center pb-2;
}

.swiper-pagination-bullet{
  @apply bg-black-900 dark:bg-white;
  @apply min-w-[1.5rem] min-h-[1.5rem];
  @apply !w-6 !h-6;
}
.swiper-pagination-bullet-active{
  @apply !bg-violet-600 dark:!bg-yellow-400;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
  @apply !-bottom-0;
}

@media only screen and (max-width: 768px) {
  .linksDiv{
    height: calc(100vh - 80px);
  }
}

.parallax-effect-custom {
  transform-style: preserve-3d;  
}

.inner-element {
  transform: translateZ(150px) scale(0.8);
}

.inner-element-experience {
  transform: translateZ(50px) scale(0.6);
}

.inner-element-button {
  transform: translateZ(20px);
}

.invert-custom-white{
  filter: invert(22%) sepia(42%) saturate(5764%) hue-rotate(257deg) brightness(83%) contrast(105%);
}